<header class="p-3 bg-success text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h1>Cupcakes</h1>
            </a>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 ms-lg-3">
                <input type="search" class="row rounded p-2" aria-label="Search" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
            </form>
            <button (click)="search()" class="btn btn-warning">Search</button>
        </div>
    </div>
  </header>
